/* ########################################### */
/* ################## SALEM ################## */
/* ############# Cozy Obsidian theme ############ */
/* ########## Developed By Salem Mohsen ########## */
/* ################################################### */

body {
  /* Colors */
  --color-crimson-rgb: 172, 99, 99; /* #ac6363 */
  --color-crimson: rgb(var(--color-crimson-rgb));
  --color-starred-rgb: 241, 226, 25; /* #f1e219 */
  --color-starred: rgb(var(--color-starred-rgb));
  --muted-accent-rgb: 198 193 135;
  --muted-accent: rgb(var(--muted-accent-rgb)); /* #c6c187*/
  --color-goldFusion-rgb: 165, 156, 103; /* #A59C67 */
  --color-goldFusion: rgb(var(--color-goldFusion-rgb));
  --cm-active: #2e2e1d39;
  --transparent: transparent;

  /* Accent HSL values 
  HEX = #f5c024*/
  --accent-h: 45;
  --accent-s: 91%;
  --accent-l: 55%;

  /* Headings */
  --h1-size: 2em;
  --h2-size: 1.7em;
  --h3-size: 1.5em;
  --h4-size: 1.4em;
  --h5-size: 1.3em;
  --h6-size: 1.1em;
  --h1-weight: 700;
  --h2-weight: 700;
  --h3-weight: 700;
  --h4-weight: 700;
  --h5-weight: 700;
  --h6-weight: 700;

  /* Inline title */
  --inline-title-color: var(--color-red);
  --inline-title-size: 2.3em;

  /* Text */
  --text-on-accent: black;
  --text-on-accent-inverted: white;
  --text-muted: var(--muted-accent);

  /* Checkboxes */
  --checklist-done-decoration: none;
  --checklist-done-color: rgb(var(--muted-accent-rgb) / 35%);

  --line-height-tight: 1.8;

  /* Vault name */
  --vault-name-font-size: var(--font-ui-large);

  /* Callouts and blockquote */
  --blockquote-border-thickness: 3px;
  --blockquote-background-color: #1d1d1da4;
  --callout-radius: 20px;
  --callout-tip: var(--color-starred-rgb);
  --callout-todo: var(--color-green-rgb);

  /*custom callouts*/

  /* Links */
  --link-decoration: none;
  --link-decoration-hover: none; /*overwrite underline*/

  /* Italic */
  --italic-color: rgb(var(--color-crimson-rgb));

  /* Lists */
  --list-marker-color: var(--color-accent);
  --list-bullet-border: 1px solid var(--color-accent-2);

  /* Window frame */
  --titlebar-background-focused: var(--background-secondary);

  /* Canvas */
  --canvas-color: var(--color-starred-rgb) !important;
  --canvas-color-1: var(--color-crimson-rgb) !important;
  --canvas-color-2: var(--color-goldFusion-rgb) !important;
  --canvas-color-3: var(--color-transparent) !important;
  --canvas-color-5: var(--color-blue-rgb) !important;
  /* --canvas-dot-pattern: var(--color-base-30); */

  /* Code */
  --code-background: black;

  /* Dividers */
  --divider-color: #36363636;
  --hr-color: rgb(var(--muted-accent-rgb) / 10%);

  /* Tabs */
  --tab-text-color-focused: var(--color-base-50);
  --tab-text-color-focused-active-current: var(--text-muted);

  /* inputs */
  --input-radius: 15px;

  /* Tables */
  --table-header-color: var(--muted-accent);

  /* Properties Core Plugin */
  --metadata-property-background-hover: rgba(var(--mono-rgb-100), 0.03);
  --metadata-input-background-active: var(--background-secondary);
}

.theme-dark {
  --color-red-rgb: 211, 69, 91; /* #d3435b */
  --color-red: rgb(var(--color-red-rgb)); /* #d3435b */
  --color-blue-rgb: 15, 142, 250; /* #0f8efa */
  --color-blue: rgb(var(--color-blue-rgb)); /* #0f8efa */
  --color-cyan-rgb: 26, 174, 159; /* #1aae9f */
  --color-cyan: rgb(var(--color-cyan-rgb)); /* #1aae9f */
  --color-purple-rgb: 115, 15, 195; /* #730fc3 */
  --color-purple: rgb(var(--color-purple-rgb)); /* #730fc3 */

  --background-primary: #110f0f;
  --background-secondary: #111111;

  --color-accent-2: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 8.8%)
  );
}

.cm-active {
  background-color: var(--cm-active);
}
.cm-em {
  color: var(--italic-color);
}

.inline-embed > .canvas-minimap {
  cursor: pointer;
}

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.markdown-rendered mark {
  background: none;
  color: var(--color-accent);
}

/* Properties Core Plugin */
.metadata-properties-heading.is-collapsed {
  background-color: var(--nav-item-background-hover);
}
.metadata-properties-heading.is-collapsed .metadata-properties-title {
  color: #ffffff9a !important;
}
.metadata-properties-heading .metadata-properties-title {
  color: rgba(var(--muted-accent-rgb) / 0.4);
  font-size: var(--font-ui-small);
}
.metadata-property {
  --background-modifier-border: transparent;
  --background-modifier-border-focus: transparent;
}
.metadata-properties-heading .collapse-indicator {
  display: none;
}

/* lists, tasks */
ul > li.task-list-item {
  font-weight: 600;
}
ul > li.task-list-item[data-task="x"],
ul > li.task-list-item[data-task="X"] {
  font-weight: 100;
}

::selection {
  --text-selection: hsla(var(--color-accent-hsl), 0.2);
}

/* Window and UI*/
.workspace-tab-header-inner .workspace-tab-header-inner-icon {
  color: var(--color-base-50);
}

.tree-item-inner,
.nav-folder-title {
  --line-height-tight: 2.7;
}
.nav-file .tree-item-inner {
  --line-height-tight: 1.8;
}

.HyperMD-header .cm-header-1,
.HyperMD-header .cm-header-2,
.HyperMD-header .cm-header-3,
.HyperMD-header .cm-header-4,
.HyperMD-header .cm-header-5,
.HyperMD-header .cm-header-6,
.markdown-rendered h1,
.markdown-rendered h2,
.markdown-rendered h3,
.markdown-rendered h4,
.markdown-rendered h5,
.markdown-rendered h6 {
  text-transform: capitalize;
}

/* Coloring tags */
a[href="#Done"],
a[href="#done"],
a[href="#Archive"],
a[href="#archive"] {
  --tag-color: #ffe4c48f;
  --tag-color-hover: #ffe4c48f;
  --tag-background: #7777774f;
  --tag-background-hover: #a9a9a94f;
}

a[href="#Active"],
a[href="#active"],
a[href="#In-progress"],
a[href="#in-progress"] {
  --tag-color: hsla(117, 100%, 89%, 0.953);
  --tag-color-hover: hsla(117, 100%, 89%, 0.897);
  --tag-background: hsl(125deg 40% 20% / 63%);
  --tag-background-hover: hsla(125, 39%, 20%, 0.553);
}

a[href="#Bug"],
a[href="#bug"],
a[href="#Warning"],
a[href="#warning"] {
  --tag-color: #ffbfbff5;
  --tag-color-hover: #ffbfbff5;
  --tag-background: #9c00004f;
  --tag-background-hover: #9c000075;
}

a[href="#Video"],
a[href="#video"],
a[href="#Article"],
a[href="#article"] {
  --tag-color: hsl(18, 54%, 81%);
  --tag-color-hover: hsl(18, 54%, 81%);
  --tag-background: hsla(32, 89%, 40%, 0.356);
  --tag-background-hover: hsla(32, 89%, 40%, 0.421);
}

/* ############################ */
/* RTL Fixes */
/* ############################ */
.rtl .markdown-embed-link {
  left: 4px;
  right: initial;
}

.rtl .list-bullet {
  float: right;
  margin: 0 0 0 15px;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote:before {
  right: 0;
}

.markdown-rendered.rtl blockquote {
  border-left: none !important;
  border-right: var(--blockquote-border-thickness) solid
    var(--blockquote-border-color);
}

/* Callouts */
.markdown-rendered blockquote {
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.markdown-rendered blockquote:hover {
  padding-left: 30px;
  --blockquote-border-thickness: 7px;
  --blockquote-background-color: #232323ef;
}

.callout {
  transition: all 0.3s ease-in-out;
}
.callout:hover {
  background-color: rgba(var(--callout-color), 0.15);
}

/* ############################ */
/* Special Custom CallOuts */
/* ############################ */
/* Center Callout */
.callout[data-callout="center"],
.callout[data-callout="cent"] {
  --callout-color: var(--transparent);
  text-align: center;
}
.callout[data-callout="center"] .callout-title,
.callout[data-callout="cent"] .callout-title {
  display: none;
}

.callout[data-callout="center"] .callout-content blockquote,
.callout[data-callout="cent"] .callout-content blockquote {
  border-right: var(--blockquote-border-thickness) solid
    var(--blockquote-border-color);
}

/* transparent Callouts */
.callout[data-callout="transparent"],
.callout[data-callout="grid_transparent"] {
  --callout-color: var(--transparent);
  border-radius: 0;
}

/* gridlist Callouts */
.callout[data-callout="gridlist"] {
  --callout-color: var(--transparent);
}
.callout[data-callout="gridlist"] .callout-title {
  display: none;
}
.callout[data-callout="gridlist"] .has-list-bullet li {
  width: 48%;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 2%;
}

/* new special callouts are UPCOMING */

/* Starred and Folders Icons */
.workspace-leaf-content[data-type="starred"] .nav-file-icon {
  display: none; /*hide the default star*/
}

.workspace-leaf-content[data-type="starred"]
  .nav-file-title
  .nav-file-title-content::before,
.nav-folder
  .nav-folder-title-content:not(
    div[data-path="/"] .nav-folder-title-content
  )::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  opacity: 0.8;
  top: 0.15rem;
  height: 16px;
  margin-right: 5px;
  background-color: var(--color-starred);
}

.workspace-leaf-content[data-type="starred"]
  .nav-file-title
  .nav-file-title-content::before {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>');
}

.nav-folder .nav-folder-title-content::before {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder-plus"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path><line x1="12" y1="11" x2="12" y2="17"></line><line x1="9" y1="14" x2="15" y2="14"></line></svg>');
}

div[data-path="/"] {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-text-stroke: 0.2px hsl(45deg 100% 84%);
  text-stroke: 0.2px #edffb0;
  --vault-name-color: var(--background-primary);
}

div[data-path="/"] .nav-folder-title-content {
  line-height: 1;
}

/* ############################ */
/* Canvas */
/* ############################ */
.canvas-node-content h1 {
  font-size: 2.8em !important;
}

.mod-canvas-color-3 .canvas-node-container {
  background-color: transparent;
}

.mod-canvas-color-3.is-selected,
.mod-canvas-color-3.is-focused {
  --canvas-color: 245 192 36 !important;
}

/* ############################ */
/* Dataview */
/* ############################ */
/* inline data and frontmatter */
.dataview.inline-field .dataview.inline-field-key,
.dataview.inline-field .dataview.inline-field-value {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* dataview plugin */
div.dataview-error-box {
  transition: 0.2s all ease-in-out;
}
.markdown-source-view.mod-cm6 .cm-embed-block:hover {
  box-shadow: none;
}

.markdown-source-view.mod-cm6 .cm-embed-block:hover div.dataview-error-box {
  border-color: rgb(var(--muted-accent-rgb) / 14%);
}

.table-view-table > thead > tr > th {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--divider-color);
}

.table-view-table > tbody > tr:hover {
  --text-selection: hsla(var(--interactive-accent-hsl), 0.05);
}

.callout[data-callout="gridlist"] .dataview.list-view-ul,
.callout[data-callout="gridlist"] .has-list-bullet {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.callout[data-callout="gridlist"] .dataview.list-view-ul li {
  list-style: none;
  border: 1px solid #a4a3a354;
  border-radius: 10px;
  text-align: center;
  width: 48%;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 2%;
}

.callout[data-callout="gridlist"] .dataview.list-view-ul li span a {
  display: block;
}

/* Calendar Plugin */
.calendar.svelte-pcimu8 .active {
  font-weight: bold;
  --color-dot: black;
}
